body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
/* common styles */
.d-blue{
    color: #363795;
}
.btn-primary{
    background: linear-gradient(#0a5896, #2e3c95)!important;
}
.f-20{
    font-size: 20px;
}
.f-15{
    font-size: 15px;    
}
.f-17{
    font-size: 17px;
}
.f-40{
    font-size: 40px;
}
/* .section1 */
.log_header{
    background-image: url("../images/Dystech-rectangle-white-240x70.png");
    background-size: contain;
    background-position: right;
    min-height: 40px;
    background-repeat: no-repeat;
    width: 150px;    
}
.height-fit-content{
    height: fit-content;
}
/* section 2 css stars from here */
.section2 .bacground_circle_image{
    background-image: url("../images/Group\ 3.png");
    background-size: contain;
    background-position: center;
    min-height: 603px;
    background-repeat: no-repeat;
}
.section2 .background-chart-image{
    background-image: url("../images/clip-report.png");
    background-size: contain;
    background-position: center;
    min-height: 470px;
    background-repeat: no-repeat;
}
.background_cursor{
    background-image: url("../images/scroll@3x.png");
    background-size: contain;
    background-position: center;
    min-height: 80px;
    background-repeat: no-repeat;
}
.section2 .email_background_image{
    background-image: url("../images/mail@3x.png");
    background-size: contain;
    background-position: right;
    min-height: 40px;
    background-repeat: no-repeat;
    width: 30px;
}
.section2 .emailSend_background_image{
    background-image: url("../images/send-email-2@3x.png");
    background-size: contain;
    background-position: right;
    min-height: 40px;
    background-repeat: no-repeat;
    width: 30px;
}
/* section 2 css ends here */
/* section 3 css starts from here */
.section3 .section3_bg_image{
    background-image: url("../images/Group\ 9.png");
    background-size: contain;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}
.section3 .text-color{
    color: #005c97;
}
.f-w-500{
    font-weight: 500;
}
/* section 3 css ends here */
/* section 4 css starts from here */
.section4 .f-30{
    font-size: 30px;
}
.section4 .bg_gradient{
    background: linear-gradient(#005c97, #363795);
}
.section4 .inverted1_image{
    z-index: 11;
    margin: 0px 0px -29px 0px;    
}
.section4 .inverted_2_image{
    z-index: 11;
    margin: -28px 0px 0px 0px;    
}
.section4 .invertedComa_Background_one{
    background-image: url("../images/inverted-commas@3x.png");
    background-size: contain;
    background-position: right;
    min-height: 50px;
    background-repeat: no-repeat;
    width: 80px;    
}
.section4 .invertedComa_Background_two{
    background-image: url("../images/inverted-commas@3x (1).png");
    background-size: contain;
    background-position: right;
    min-height: 60px;
    background-repeat: no-repeat;
    width: 80px;    
}
/* section 4 css ends here */
/* section 5 css stars from here */
.section5 .section5_bg_image{
    background-image: url("../images/Ring\ Chart0@3x.png");
    background-size: cover;
    min-height: 627px;
    background-repeat: no-repeat;   
}

.circle-chart__circle {
    animation: circle-chart-fill 2s reverse; /* 1 */ 
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
  }
  
  .circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1,-1); /* 1, 2, 3 */
  }
  
  .circle-chart__info {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
  }
  
  @keyframes circle-chart-fill {
    to { stroke-dasharray: 0 100; }
  }
  
  @keyframes circle-chart-appear {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
/* section 5 ends here */
/* section 6 and 7 css same and stars from here */
.section6 .heading_color{
    color: #005c97;
}
.section6 .box_heading_color{
    color: #707070;
}
.section6 .box_body_color{
    color: #969696;
}
.section6 .bg_gradient{
    background: linear-gradient(#005c97, #363795);
}
.section6 .bg-box{
    background-color: #f6f6f6;
}
.section6 .background_clock{
    background-image: url("../images/Icon feather-clock.png");
    background-size: contain;
    background-position: right;
    min-height: 40px;
    background-repeat: no-repeat;
    width: 25px;
}
/* section 6 and 7 ends here */
.section8 .bg_gradient{
    background: linear-gradient(#005c97, #363795);
}
.section8 .footer_Background_image{
    background-image: url("../images/Dystech-rectangle-white-240x70@3x.png");
    background-size: contain;
    min-height: 60px;
    background-position: center;
    background-repeat: no-repeat;       
} 
.section8 .heart_background_image{
    background-image: url("../images/heart-full-outline@3x.png");
    background-size: contain;
    background-position: right;
    min-height: 40px;
    background-repeat: no-repeat;
    width: 25px;
}


/* media quries for removing spacing issues of background images */

@media (max-width: 1199px) and (min-width: 1024px) {
    .button_hidden{
        display: none!important;
    }
    .section3 .section3_bg_image {
        height: 550px!important;
    }
    .h-box{
        height: fit-content!important;
    }
    .line_height{
        line-height: 19px!important;
    }
 }
@media (max-width: 1023px) and (min-width: 992px) { 
    .button_hidden{
        display: none!important;
    }
    .section3 .section3_bg_image {
        height: 550px!important;
    }
    .h-box{
        height: fit-content!important;
    }
    .line_height{
        line-height: 25px!important;
    }
}
@media (max-width: 991px) and (min-width: 900px) {
    .button_hidden{
        display: none!important;
    }
    .section3 .section3_bg_image {
        height: 550px!important;
    }
    .h-box{
        height: fit-content!important;
    }
    .line_height{
        line-height: 25px!important;
    }
} 
@media (max-width: 899px) and (min-width: 768px) { 
    .button_hidden{
        display: none!important;
    }
    .section3 .section3_bg_image {
        height: 550px!important;
    }
    .h-box{
        height: fit-content!important;
    }
    .line_height{
        line-height: 19px!important;
    }
}
@media (max-width: 767px) and (min-width: 685px) { }
@media (max-width: 684px) and (min-width: 568px) { }
@media (max-width: 567px) and (min-width: 480px) { }
@media (max-width: 479px) and (min-width: 320px) {
    .section2 .background-chart-image {
        min-height: 210px!important;
    }
    .section2 .bacground_circle_image {
        min-height: 500px!important;  
    }
    .section3 .section3_bg_image {
        height: 270px!important;
    }
 }